body {
    background-image: url(../Img/bgdaf.png);
}


.center {
    text-align: center;
    font: italic;
    color: rgb(252, 249, 249);
    text-decoration: underline;
    line-height: 20px;
}  

.p  {
    border: 1px; 
    text-indent: 50px;
    color: aliceblue;
    font: arial  16px/18px sans-serif;
    margin: 30px;
    line-height: 25px;
    text-align: justify;
    text-indent: 35px;
    width: 700px;   
    }

.p1 {
    border: 1px; 
    text-indent: 50px;
    color: aliceblue;
    font: arial  16px/18px sans-serif;
    margin: 30px;
    line-height: 25px;
    text-align:justify;
    text-indent: 35px;
    width: 700px;
}

.h2 {
    border: 1px; 
    text-indent: 50px;
    color: aliceblue;
    font: arial  16px/18px sans-serif;
    margin: 20px;
    line-height: 20px;
    text-align: justify;
    text-indent: 15px;
    width: 700px;   
}

.center, .p {
    color: rgb(235, 239, 239);
}

.p span {color: rgb(255, 0, 0);}